@using Hex.Wizard
@using Hex.TestWebsite.Models.SimpleWizard

@model WizardStepViewModel<SimpleWizardFormModel>

@{
    ViewBag.Title = "FirstStep";
}

<h2>FirstStep</h2>

@using( Html.BeginWizardForm() )
{
	@Html.ValidationSummary( true )

	@Html.ValidationMessageFor( x => x.WizardFormModel.FirstStep.FirstName )<br />
	@Html.LabelFor( x => x.WizardFormModel.FirstStep.FirstName )
	@Html.TextBoxFor( x => x.WizardFormModel.FirstStep.FirstName )<br />
	
	@Html.ValidationMessageFor( x => x.WizardFormModel.FirstStep.LastName )<br />
	@Html.LabelFor( x => x.WizardFormModel.FirstStep.LastName )
	@Html.TextBoxFor( x => x.WizardFormModel.FirstStep.LastName )<br />
	
	@Html.PreviousWizardStepSubmitInputButton()
	@Html.NextWizardStepSubmitInputButton()
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}