@using Hex.ExampleWebsite.ViewModels

@model TimeViewModel

@{
    ViewBag.Title = "Html5 - Time";
}

<h2>@ViewBag.Title</h2>

@using( Html.BeginForm() )
{
	<span>Time:</span>@Html.TimeFor( x => x.Time, TimeFormat.Millisecond, x => x.Step( .005 ) ) <br />
	<span>Nullable Time:</span>@Html.TimeFor( x => x.NullableTime ) <br />
	<span>Time as String:</span>@Html.Time( "TimeAsString", this.Model.TimeAsString )<br />
	<span>Nullable Time as String:</span>@Html.Time( "NullableTime", this.Model.NullableTime )<br />

	<input type="submit" value="Submit" />
}